
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>

<div class="jumbotron">
  <h1>Moniekjes twittertest</h1>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<div class=3D"navbar-header">
          <button type=3D"button" class=3D"navbar-toggle" data-toggle=3D"collapse" data-target=3D".navbar-collapse">
            <span class=3D"sr-only">Toggle navigation</span>
            <span class=3D"icon-bar"></span>
            <span class=3D"icon-bar"></span>
            <span class=3D"icon-bar"></span>
          </button>
      <a class=3D"navbar-brand" href=3D"#">Als dit blauw is gebruik je twitter bootstrap</a>
</div>

